@font-face {
  font-family: "concern";
  src: url("./font/Concern.otf");
    font-family: "wondertype";
  src: url('wondertype.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('wondertype-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('wondertype.woff') format('woff'), /* Pretty Modern Browsers */
       url('wondertype.ttf')  format('truetype'); /* Safari, Android, iOS */
font-family: "typerabelle";
  src: url('typerabelle.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('typerabelle-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('typerabelle.woff') format('woff'), /* Pretty Modern Browsers */
       url('typerabelle.ttf')  format('truetype'), /* Safari, Android, iOS */
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  cursor: cell;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

footer {
  bottom: 0;
}

h1 {
  font-size: 4em;
  font-family: 'concern';
  font-style: normal;
  color: red;
  text-align: left;
  line-height: 0.8em;
  padding-right: 5px;
  text-indent: 1em;
}

h2 {
  color: red;
  font-size: 1.3em;
  line-height: 1.25em;
  font-family: 'concern';
  font-style: normal;
  padding: 5px 5px 0 0;
  text-align: left;
}

h3 {
  color: white;
  text-shadow: 1.5px 1.5px 1.5px red;
  font-size: 2em;
  line-height: 1.25em;
  font-family: 'concern';
  font-style: normal;
  padding: 5px 5px 0 0;
  text-decoration: none;
}

h3:hover{
  color: red;
}

/* retour */
h4{
  font-family: 'concern';
  color: red;
  font-size: 5em;
  text-align: center;
}

/* légende */
h5{
  font-family: 'concern';
  color: red;
  font-size: 1.5em;
  text-align: right;
  column-count: 2;
}

.wonder{
  font-family: 'wondertype';
  color: red;
  font-size: 5em;
  text-align: left;
  padding: 1em 3em 1em 1em;
}

.typerabelle{
  font-family: 'typerabelle';
  color: red;
  font-size: 7em;
  text-align: left;
  padding: 1em 3em 1em 1em;
}

#a {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100vw;
  border-bottom: 4px solid red;
}

a:link 
{ 
 text-decoration:none; 
} 

.intro {
  flex: auto;
  cursor: cross;
  width: 5%;
  height: 60vh;
  overflow-y: scroll;
  padding: 1em 20em 1em 1em;
}

.taffe a span {
  display:none;
  }
  
  .taffe a:hover span {
  display:block;
  margin:0 0 0 0;
  }

table {
  border-collapse: collapse;
  color: red;
  box-sizing: border-box;
  width: 80%;
}

td {
  border: 2px double none;
  text-align: right;
  font-family: 'concern';
  font-style: normal;
  font-size: 1.1em;
}

th {
  color: red;
  font-family: 'concern';
  text-align: left ;
  font-size: 1em;
  font-style: bold;
  border: 2px red;
  border-style: none;
  padding: 5px;
}

/*
th:hover {
  background: blue;
  color: white;
}
*/

.travaux {
  flex: auto;
  cursor: ns-resize;
  padding: 1em 1em 1em 1em;
  width: 20%;
  height: 60vh;
  overflow: scroll;
  text-align: center;
}

.p {
  width: 6rem;

}

td img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.projet {
  opacity: 1;
  text-decoration: underline;
  display: initial;
}

.projet:hover {
  color: red;
}

#b {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

#whitespace {
  min-width: 25vw;
  background-color: red;
}

.video {
  width: 40vw;
  padding-left: 1em;
}

video {
  height: 40vh;
  width: auto;
  border: 1px dotted red;
}

.photo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Flou */
.photo img {
  justify-content: center;
  width: auto;
  height: 12vh;
  max-height: 100%;
  border: 1px dotted red;
  -webkit-filter: blur(0);
	filter: blur(0);
}

.photo :hover img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

div.intro::-webkit-scrollbar,
div.tableau::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  height: 4px;
}

div.intro::-webkit-scrollbar-thumb,
div.tableau::-webkit-scrollbar-thumb {
  background-color: red;
}



/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
}

/* The Close Button */
.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.modal-content {
  width: 100%;
}
} 

@media only screen and (max-width: 1000px) {


  h1 {
      font-size: 4.2em;
  }

  h2 {
      column-count: 2;
  }


  h5 {
    column-count: 1;
}

.wonder{
  font-size: 3.5em;
  padding: 1em 1em 1em 1em;
}

.typerabelle{
  font-size: 5em;
  padding: 1em 1em 1em 1em;
}

  #a,
  #b {
      flex-direction: column;
      padding: 0;
      border: 0;
  }

  .intro {
      width: 100%;
      padding: 1em 1em 0.5em 1em;
      flex-wrap: wrap;
      height: 100%;
  }

  .travaux {
      width: 100%;
      flex-wrap: wrap;
      height: 100%;
          padding: 10em 1em;

  }

  video {
      height: auto;
      width: 480px;
  }

  .photo {
      padding: 1em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
          justify-content: space-between;

  }

  .photo img {
      margin: 0 0 1.5em 0;
      width: 30vw;
      height: auto;
  }

  th {
      padding: 1.2em;
  }

}


@media only screen and (max-width: 600px)  {
   h2 {
      column-count: 1;
       padding-bottom: 0;
}
    .photo img {
      margin: 0 0 1em 0;
      width: 45vw;
      height: auto;
}

