@font-face {
  font-family: "concern";
  src: url("./font/Concern.otf");
}

body {
  background-color: white;
    font-size: 20px;
    display : absolute;
  width: 100%;
  background-size: 600px ;
  cursor: cell;
  -webkit-font-smoothing: antialiased;}

    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow:hidden;
    }

    footer {position: absolute; bottom: 0;}
    .header {
      position:fixed;
      height:100px;
      top:0;
      left:0;
      right:0;
   }
   
  h1 {
    top: 0%;
    left: 2%;
    text-align: left;
    font-size: 40px;
    font-family: 'concern';
    font-style: normal;
    position: relative;
  color: blue;}

  h2 {
    text-align: left;
    color: limegreen;
    font-size: 18px;
    font-family: 'concern';
    font-style: normal;
    position: relative;}


  .intro { 
    cursor: s-resize;
    position: absolute;
    top: 8%;
    left: 2%;
    margin:20px; 
    padding:5px; 
    width: 25%; 
    height:42%; 
    overflow: auto; 
    text-align:justify; 
    flex-wrap: wrap;
} 

.word{ 
  opacity: 1;
  text-decoration: underline;
  display: initial;
  }
  .word:hover{
    color: blue;
  }

  .tableau { 
    cursor: ns-resize;
    position: absolute;
    top: 2%;
    left: 30%;
    margin:10px; 
    padding:5px; 
    width: 80%; 
    height:50%; 
    overflow: auto; 
    text-align:center; 
    flex-wrap: wrap;
} 


table{
  border-collapse: collapse;
  color: blue;
}

td{
  border: 2px limegreen;
  border-style: solid;
  padding:0px;
  text-align: center;
  font-family: 'concern';
    font-style: normal;
}

th {
  color: limegreen;
  font-family: 'concern';
    font-style: bold;
  border: 2px limegreen;
  border-style: solid;
  padding: 10px;
  }

  .photo { 
    cursor: e-resize;
    position: absolute;
    top: 52%;
    right: 1%;
    margin:25px; 
    padding:10px; 
    width: 40%; 
    height:auto; 
    overflow: scroll; 
    display: inline-flex;
    flex-direction: row;
} 

.infobulle {
  position: relative;  /* les .infobulle deviennent référents */
  cursor: cell;
}


.infobulle:hover::after,
.infobulle:focus::after {
  font-size: 15px;
  font-style: italic;
  width: 400px;
  color: blue;
  content: attr(aria-label);  /* on affiche aria-label */
  position: fixed;
  column-count: 2;
  top: 56%;
  left: 3.5%;
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: normal;  /* on interdit le retour à la ligne */
}

.video{
  cursor: cell;
  position: absolute;
  left :35.5%;
  top: 52%;
  margin:25px; 
  padding:10px; 
  width: 40%; 
  height:40%; 
  
}

@media only screen and (max-width: 40em) {


  html, body {
    overflow: auto;
  }

h1{
  left: 5%;
  font-size: 30px;
}

  .intro { 
    position: absolute;
    top: 8%;
    left: 0%;
    margin:20px; 
    padding:5px; 
    width: 90%; 
    height:42%;  
} 

.infobulle:hover::after,
.infobulle:focus::after {
  font-size: 15px;
  font-style: italic;
  width: 150px;
  color: blue;
  content: attr(aria-label);  /* on affiche aria-label */
  position: initial;
  column-count: 1;
  top: 65%;
  left: 70%;
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: normal;  /* on interdit le retour à la ligne */
}

.tableau { 
  cursor: ns-resize;
  position: absolute;
  top: 100%;
  left: 0%;
  margin:10px; 
  padding:5px; 
  width: 90%; 
  height:40%; 
  overflow: auto; 
  text-align:center; 
  flex-wrap: wrap;
} 

.video{
  left :2%;
  top: 51%;
  margin:25px; 
  padding:40px; 
  width: 40%; 
  height:auto;

  
}

.photo { 
  top: 140%;
  right: 0%;
  margin:25px; 
  padding:10px; 
  width: 90%; 
  height:auto; 
} 

th {
  padding: 2px;
  }

}