@font-face {
    font-family: "concern";
    src: url("./font/Concern.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    cursor: cell;
    -webkit-font-smoothing: antialiased;
}



footer {
    bottom: 0;
}


h1 {
    font-size: 4em;
    font-family: 'concern';
    font-style: normal;
    color: blue;
    line-height: 1em;
}

h2 {
    color: limegreen;
    font-size: 1.1em;
    line-height: 1.25em;
    font-family: 'concern';
    font-style: normal;
    padding: 10px 10px 0 0;
}

#a {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw;
    border-bottom: 4px solid blue;
}

.intro {
    flex: auto;
    cursor: s-resize;
    width: 25%;
    height: 60vh;
    overflow-y: scroll;
    text-align: justify;
    padding: 1em 0 1em 1em;

}

table {
    border-collapse: collapse;
    color: blue;
    box-sizing: border-box;
    width: 100%;
}

td {
    border: 2px solid limegreen;
    text-align: center;
    font-family: 'concern';
    font-style: normal;
    font-size: 1.1em;
}

th {
    color: limegreen;
    font-family: 'concern';
    font-size: 1.2em;
    font-style: bold;
    border: 2px limegreen;
    border-style: solid;
    padding: 10px;
}

th:hover {
    background: limegreen;
    color: white;
}

.tableau {
    flex: auto;
    cursor: ns-resize;
    padding: 1em 1em 1em 1em;
    width: 75%;
    height: 60vh;
    overflow: scroll;
    text-align: center;
}

.p {
    width: 10rem;

}

td img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.word {
    opacity: 1;
    text-decoration: underline;
    display: initial;
}

.word:hover {
    color: blue;
}

#b {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

#whitespace {
    min-width: 25vw;
    // background-color: red;
}


.infobulle {
    /* les .infobulle deviennent référents */
    cursor: cell;
}


.infobulle:hover::after,
.infobulle:focus::after {
    position: absolute;
    font-size: 0.8em;
    font-style: italic;
    width: 22vw;
    color: blue;
    content: attr(aria-label);
    /* on affiche aria-label */
    column-count: 2;
    top: 66%;
    left: 1%;
    z-index: 1;
    text-align: left;
    /* pour s'afficher au dessus des éléments en position relative */
    white-space: normal;
    /* on interdit le retour à la ligne */
}

.video {
    width: 40vw;
    padding-left: 1em;
}

video {
    height: 40vh;
    width: auto;
    border: 1px dotted limegreen;


}

.photo {
    flex: auto;
    flex-direction: column;
    padding-left: 1em;
}

.photo img {
    justify-content: space-between;
    width: auto;
    height: 20vh;
    max-height: 100%;
    border: 1px dotted limegreen;
    flex-wrap:wrap;
}


div.intro::-webkit-scrollbar,
div.tableau::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;


}

div.intro::-webkit-scrollbar-thumb,
div.tableau::-webkit-scrollbar-thumb {

    background-color: blue;

}


@media only screen and (max-width: 1000px) {


    h1 {
        font-size: 4em;
    }

    #a,
    #b {
        flex-direction: column;
        padding: 0;
        border: 0;
    }

    .intro {
        width: 100%;
        padding: 1em;
        flex-wrap: wrap;
        height: 100%;
    }

    .tableau {
        width: 100%;
        flex-wrap: wrap;
        height: 100%;
    }

    .video {
        padding: 1em;
        justify-content: center;
    }

    video {
       width: 80vw;
        height: auto;

    }

    .photo {
        padding: 1em;
        display: flex;
        flex-direction: column;
    }

    .photo img {
        padding-bottom: 2em;
        width: 80vw;
        max-width: 60%;
        height: auto;
    }

    th {
        padding: 1.2em;
    }

}


@media (max-width: 600px) {
    // Mobile styles here
}

@media (min-width: 600px) {
    // Desktop styles here
}
