body {
    font-size: 20px;
    font-style: certege ;
    background-image: url("fond.png");
    background-size: 600px ;
    background-repeat: repeat-x ;
    cursor:url('souris.cur'),auto;
      }

  h1 {
    margin-top: 150px;
    margin-left: 600px;
    position: fixed;
    color:black;
    opacity: 0.3;
    font-size: 100px;
    font-family: 'Certegeitalic'; 
      font-weight: normal; 
      font-style: italic;
      text-align: right;
        }

  h2 {
    color:black;
    font-size: 40px;
    opacity: 50;
    text-align: center;
    font-family: 'Certegeitalic'; 
    font-weight: normal; 
    font-style: italic;
  }
  h3 {
    color:black;
    font-size: 40px;
    opacity: 50;
    font-family: 'Certegeitalic'; 
    font-weight: normal; 
    font-style: italic;
  }
  h4 {
    color:black;
    font-size: 30px;
    font-family: 'Certegeitalic'; 
    font-weight: normal; 
    font-style: italic;
  }

  h5 {
    color:black;
    opacity: 50;
    font-size: 40px;
      font-family: 'Certegeitalic'; 
      font-weight: normal; 
      font-style: italic;
      text-align: right;
        }
  
 h6 {
   margin-top: 130px;
    color:black;
    font-size: 40px;
    opacity: 50%;
    text-align: left;
      font-family: 'Certegeitalic'; 
      font-weight: normal; 
      font-style: italic;
        }


a {
  text-decoration: none;
}


.gauche1 {
  top: 300px;
  left:100px;
  position: absolute;
  }

.centre1 {
  top: 350px;
  left: 500px;
  position: absolute;
  }

.droite1 {
  top: 400px;
  left: 900px;
  position: absolute;
  }

.gauche2 {
  top: 700px;
  left:100px;
  position: absolute;
  }
  
.centre2 {
  top: 750px;
  left: 500px;
  position: absolute;
  }
  
.droite2 {
  top: 800px;
  left:900px;
  position: absolute;
  }

.gauche3 {
  top: 1100px;
  left:100px;
  position: absolute;
  }
    
.centre3 {
  top: 1150px;
  left: 500px;
  position: absolute;
  }
    
.droite3 {
  top: 1200px;
  left: 900px;
  position: absolute;
  }

.gauche4 {
  top: 1500px;
  left:100px;
  position: absolute;
  }
      
.centre4 {
  top: 1550px;
  left: 500px;
  position: absolute;
  }
      
.droite4 {
  top: 1600px;
  left: 900px;
  position: absolute;
  }



  
.haut {
  top: 0px;
  right: 30px;
  position: absolute;
  }

.haut1 {
  top: 0px;
  right: 110px;
  position: absolute;
}

.haut2 {
  top: 0px;
  right: 250px;
  position: absolute;
}

.haut3 {
  top: 0px;
  left: 30px;
  position: absolute;
}

.video{
  top: 300px;
  left: 100px;
  position: absolute;
}