body {
  background-image: repeating-linear-gradient(to left, whitesmoke,rgb(86, 134, 223), whitesmoke);
    font-size: 20px;
    background-size: cover ;
    background-repeat: round ;
    -webkit-font-smoothing: antialiased;
    height: 100%;}

  
  h1 {
    margin-top: 2%;
    left: 10%;
    text-align: left;
    font-size: 40px;
    font-family: 'arial';
    font-style: normal;
    position: relative;}

  h2 {
    text-align: left;
    color: black;
    font-size: 18px;
    font-family: 'arial';
    font-style: normal;
    position: relative;}

    a {
      text-decoration: none;/*Pour que le lien ne soit plus "souligné"...*/
      color: blue; /*ça reste un exemple*/
  }


  
  html, body {
    height: 100%;
  }

  .intro { 
    position: absolute;
    top: 10%;
    left: 12%;
    margin:20px; 
    padding:5px; 
    width: 40%; 
    height:34%; 
    overflow: auto; 
    text-align:justify; 
    flex-wrap: wrap;
} 

.word{ 
  opacity: 1;
  color: blue;
  display: initial;
  }
  .word:hover{
    color: green;
  }

  .tableau { 
    position: absolute;
    top: 49%;
    left: 12%;
    margin:10px; 
    padding:5px; 
    width: 90%; 
    height:45%; 
    overflow: auto; 
    text-align:center; 
    flex-wrap: wrap;
} 


table{
  border-collapse: collapse;
  color: blue;
}

td{
  border: 2px black;
  border-style: dashed;
  padding: 0px;
  text-align: center;
  font-family: 'arial';
    font-style: normal;
}

th {
  color: black;
  font-family: 'arial';
    font-style: bold;
  border: 2px black;
  border-style: dashed;
  padding: 10px;
  }

  .photo { 
    position: absolute;
    top: -2%;
    right: 10%;
    margin:25px; 
    padding:10px; 
    width: 30%; 
    height:46%; 
    overflow: auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 